<div class="blog-index">
  <% page.posts.each(function(post){ %>
    <article>
        <%- partial('_partial/article', {post: post, index: true}) %>
    </article>
  <% }) %>
  <div class="pagination">
    <% if (page.next_link){ %>
      <a class="prev" href="<%= config.root %><%= page.next_link %>">&larr; Older</a>
    <% } %>
    <a href="/blog/archives">Blog Archives</a>
    <a class="next" href="<%= config.root %><%= page.prev_link %>">Newer &rarr;</a>
  </div>
</div>

<% if (theme.sidebar){ %>
  <aside class="sidebar">
    <% theme.widgets.forEach(function(widget){ %>
      <%- partial('_widget/' + widget) %>
    <% }) %>
  </aside>
<% } %>
