<div class="blog-index">
  <% page.posts.each(function(post){ %>
    <article>
        <%- partial('_partial/article', {post: post, index: true}) %>
    </article>
  <% }) %>
  <div class="pagination">
    <% if (page.next_link){ %>
      <a class="prev" href="<%= config.root %><%= page.next_link %>">&larr; <%= __('older') %></a>
    <% } %>
    <a href="/archives"><%= __('blog_archives') %></a>
    <% if (page.current != 1){ %>
    <a class="next" href="<%= config.root %><%= page.prev_link %>"><%= __('newer') %> &rarr;</a>
    <% } %>
  </div>
</div>

<% if (theme.sidebar){ %>
  <aside class="sidebar">
    <% theme.widgets.forEach(function(widget){ %>
      <%- partial('_widget/' + widget) %>
    <% }) %>
  </aside>
<% } %>
