<html>
<%- partial('_partial/head') %>
<body> <!-- TODO body 添加样式-->
  <header role="banner"><%- partial('_partial/header', null, {cache: !config.relative_link}) %></header>
  <nav role="navigation"><%- partial('_partial/navigation', null, {cache: !config.relative_link}) %></nav>
  <div id="main">
    <div id="content">
      <%- body %>
    </div>
  </div>
  <footer role="contentinfo"><%- partial('_partial/footer', null, {cache: !config.relative_link}) %></footer>
  <%- partial('_partial/after-footer') %>

</body>
</html>
