<div>
<article role="article">
  <% if (page.title){ %>
  <header>
    <h1 class="entry-title"><%= page.title %></h1>

  </header>
  <% } %>
  <%- page.content %>
  <% if (page.footer == false){ %>
    <footer>
      <% if (page.date || page.author){ %><p class="meta">
        <% if (page.author){ %><%- partial('_partial/post/author') %><% } %>
        <%- partial('_partial/post/date', {class_name: 'article-date', date_format: null}) %>
        <% if (page.categories){ %><%- partial('_partial/post/category') %><% } %>
      </p><% } %>
      <% if (page.sharing){ %>
        <%- partial('_partial/post/sharing') %>
      <% } %>
    </footer>
  <% } %>
</article>
<% if (config.disqus_shortname && page.comments == true){ %>
  <section>
    <h1><%= __('comments') %></h1>
    <div id="disqus_thread" aria-live="polite"><%- partial('_partial/post/disqus_thread') %></div>
  </section>
<% } %>
<% if (theme.gitalk.enable && page.comments == true){ %>
  <section>
    <h1><%= __('comments') %></h1>
    <div id="gitalk-container"></div>
    <%- partial('_partial/post/gitalk') %>
  </section>
<% } %>
</div>

<% if (theme.sidebar){ %>
  <aside class="sidebar">
    <% theme.widgets.forEach(function(widget){ %>
      <%- partial('_widget/' + widget) %>
    <% }) %>
  </aside>
<% } %>
