<div>
<article class="hentry" role="article">
  <%- partial('_partial/article', {index: false}) %>
  <footer>
    <p class="meta">
      <%- partial('_partial/post/author') %>
      <%- partial('_partial/post/date') %>
      <%- partial('_partial/post/category') %>
    </p>
    <% if (page.sharing){ %>
      <%- partial('_partial/post/sharing') %>
    <% } %>
    <p class="meta">
      <% if (page.prev){ %>
        <a class="basic-alignment left" href="<%- config.root %><%- page.prev.path %>" title="Previous Post: <%= page.prev.title %>">&laquo; <% if (page.prev.title){ %><%= page.prev.title %><% } else { %>(no title)<% } %></a>
      <% } %>
      <% if (page.next){ %>
        <a class="basic-alignment right" href="<%- config.root %><%- page.next.path %>" title="Next Post: <%= page.next.title %>"><% if (page.next.title){ %><%= page.next.title %><% } else { %>(no title)<% } %> &raquo;</a>
      <% } %>
    </p>
  </footer>
</article>
<% if (config.disqus_shortname && page.comments == true){ %>
  <section>
    <h1><%= __('comments') %></h1>
    <div id="disqus_thread" aria-live="polite"><%- partial('_partial/post/disqus_thread') %></div>
  </section>
<% } %>
<% if (theme.gitalk.enable && page.comments == true){ %>
  <section>
    <h1><%= __('comments') %></h1>
    <div id="gitalk-container"></div>
    <%- partial('_partial/post/gitalk') %>
  </section>
<% } %>
</div>

<% if (theme.sidebar){ %>
  <aside class="sidebar">
    <% theme.widgets.forEach(function(widget){ %>
      <%- partial('_widget/' + widget) %>
    <% }) %>
  </aside>
<% } %>
