<% if (site.categories.length){ %>
<section>
  <h1><%= __('categories') %></h1>
  <ul id="categories">
    <% site.categories.sort('name').each(function(category){ %>
      <% if(category.posts.length){ %>
        <li class="category"><a href="<%- config.root %><%- category.path %>" title="<%= category.name %>"><%= category.name %> (<%= category.posts.length %>)</a></li>
      <% } %>
    <% }); %>
  </ul>
</section>
<% } %>
