<h1><a href="<%- url_for(post.path) %>"><%= post.title %></a></h1>
<time datetime="<%= date_xml(post.date) %>" pubdate><span class='month'><%= date(post.date, 'MMM') %></span> <span class='day'><%= date(post.date, 'D') %></span><span class='year'>, <%= date(post.date, 'YYYY') %></span></time>
<% if (post.categories && post.categories.length != 0){ %>
<footer>
  <span class="categories">posted in <%- list_categories(post.categories, {show_count:false, style: ''}) %></span>
</footer>
<% } %>
