<head>
  <meta charset="utf-8">
  <%
  var title = page.title;

  if (is_archive()){
    title = __('archive_a');

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = __('categories') + ': ' + page.category;
  } else if (is_tag()){
    title = __('tags') + ': ' + page.tag;
  }
  %>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <meta name="author" content="<%= config.author %>">
  <% if (page.keywords){ %><meta name="keywords" content="<%= page.keywords %>"><% } %>
  <meta name="description" content="<%- truncate(strip_html(trim((page && (page.description || (page.content || '').replace(/<span class="line">\d+<\/span>/g, '').replace(/<br>/g, '\n').replace(/\n+/g, '\n'))) || config.description || '')), {length: 200}).replace(/"/g, '&#34;') %>">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta itemprop="image" content="//a.disquscdn.com/uploads/users/14817/5647/avatar92.jpg?1445168112" />
  <meta itemprop="name" content="<% if (title){ %><%= title %> | <% } %><%= config.title %>" />
  <meta itemprop="description" content="<%- truncate(strip_html(trim((page && (page.description || (page.content || '').replace(/<span class="line">\d+<\/span>/g, '').replace(/<br>/g, '\n').replace(/\n+/g, '\n'))) || config.description || '')), {length: 200}).replace(/"/g, '&#34;') %>" />
  
  <%- css(config.root + 'css/style') %>
  
  <link rel="dns-prefetch" href="//cdn.bootcss.com">

  <link rel="canonical" href="<%= page.permalink || config.url %>">
  <% if (theme.rss){ %>
  <link rel="alternative" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml">
  <% } %>
  <% if (theme.favicon){ %>
  <% } %>
  <!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
  <!--<link href="//fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet" type="text/css">-->
  <!--<link href="//fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">-->
  <!--<link href="//fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">-->
  <% if (theme.google_ad_client){ %>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "<%= theme.google_ad_client %>",
      enable_page_level_ads: true
    });
  </script>
  <% } %>
</head>
